#  Miscellaneous
---

# Generators and Closures

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
class Fib:
    def __init__(self, nn):
        print("__init__")
        self.__n = nn
        self.__i = 0
        self.__p1 = self.__p2 = 1

    def __iter__(self):
        print("__iter__")
        return self

    def __next__(self):
        print("__next__")				
        self.__i += 1
        if self.__i > self.__n:
            raise StopIteration
        if self.__i in [1, 2]:
            return 1
        ret = self.__p1 + self.__p2
        self.__p1, self.__p2 = self.__p2, ret
        return ret


for i in Fib(10):
    print(i)

__init__
__iter__
__next__
1
__next__
1
__next__
2
__next__
3
__next__
5
__next__
8
__next__
13
__next__
21
__next__
34
__next__
55
__next__

In [3]:
class Fib:
    def __init__(self, nn):
        self.__n = nn
        self.__i = 0
        self.__p1 = self.__p2 = 1

    def __iter__(self):
        print("Fib iter")
        return self

    def __next__(self):
        self.__i += 1
        if self.__i > self.__n:
            raise StopIteration
        if self.__i in [1, 2]:
            return 1
        ret = self.__p1 + self.__p2
        self.__p1, self.__p2 = self.__p2, ret
        return ret

class Class:
    def __init__(self, n):
        self.__iter = Fib(n)

    def __iter__(self):
        print("Class iter")
        return self.__iter;


object = Class(8)

for i in object:
    print(i)

Class iter
1
1
2
3
5
8
13
21

### Yield statement

In [4]:
def fun(n):
    for i in range(n):
        yield i


for v in fun(5):
    print(v)

0
1
2
3
4

# Build generator

In [5]:
def powers_of_2(n):
    power = 1
    for i in range(n):
        yield power
        power *= 2


for v in powers_of_2(8):
    print(v)

1
2
4
8
16
32
64
128

### List comprehensions

In [6]:
def powers_of_2(n):
    power = 1
    for i in range(n):
        yield power
        power *= 2


t = [x for x in powers_of_2(5)]
print(t)

[1, 2, 4, 8, 16]

### The list() function

In [7]:
def powers_of_2(n):
    power = 1
    for i in range(n):
        yield power
        power *= 2


t = list(powers_of_2(3))
print(t)

[1, 2, 4]

### The in operator

In [8]:
def powers_of_2(n):
    power = 1
    for i in range(n):
        yield power
        power *= 2


for i in range(20):
    if i in powers_of_2(4):
        print(i)

1
2
4
8

### The Fibonacci number generator

In [9]:
def fibonacci(n):
    p = pp = 1
    for i in range(n):
        if i in [0, 1]:
            yield 1
        else:
            n = p + pp
            pp, p = p, n
            yield n

fibs = list(fibonacci(10))
print(fibs)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### More

In [10]:
list_1 = []

for ex in range(6):
    list_1.append(10 ** ex)

list_2 = [10 ** ex for ex in range(6)]

print(list_1)
print(list_2)

[1, 10, 100, 1000, 10000, 100000]
[1, 10, 100, 1000, 10000, 100000]

In [11]:
the_list = []

for x in range(10):
    the_list.append(1 if x % 2 == 0 else 0)

print(the_list)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [12]:
the_list = [1 if x % 2 == 0 else 0 for x in range(10)]

print(the_list)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

### List comprehensions vs generators

In [13]:
the_list = [1 if x % 2 == 0 else 0 for x in range(10)]
the_generator = (1 if x % 2 == 0 else 0 for x in range(10))

for v in the_list:
    print(v, end=" ")
print()

for v in the_generator:
    print(v, end=" ")
print()

1 0 1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0 1 0

In [14]:
for v in [1 if x % 2 == 0 else 0 for x in range(10)]:
    print(v, end=" ")
print()

for v in (1 if x % 2 == 0 else 0 for x in range(10)):
    print(v, end=" ")
print()

1 0 1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0 1 0

### The lambda function

In [15]:
two = lambda: 2
sqr = lambda x: x * x
pwr = lambda x, y: x ** y

for a in range(-2, 3):
    print(sqr(a), end=" ")
    print(pwr(a, two()))

4 4
1 1
0 0
1 1
4 4

In [16]:
def print_function(args, fun):
    for x in args:
        print('f(', x,')=', fun(x), sep='')


def poly(x):
    return 2 * x**2 - 4 * x + 2


print_function([x for x in range(-2, 3)], poly)

f(-2)=18
f(-1)=8
f(0)=2
f(1)=0
f(2)=2

In [17]:
def print_function(args, fun):
    for x in args:
        print('f(', x,')=', fun(x), sep='')

print_function([x for x in range(-2, 3)], lambda x: 2 * x**2 - 4 * x + 2)

f(-2)=18
f(-1)=8
f(0)=2
f(1)=0
f(2)=2

### Lambda and map() function

In [20]:
list_1 = [x for x in range(5)]
list_2 = list(map(lambda x: 2 ** x, list_1))
print(list_2)
print()

for x in map(lambda x: x * x, list_2):
    print(x, end=' ')
print()

[1, 2, 4, 8, 16]

1 4 16 64 256

### Lambdas and filter() function

In [1]:
from random import seed, randint

seed()
data = [randint(-10,10) for x in range(5)]
filtered = list(filter(lambda x: x > 0 and x % 2 == 0, data))

print(data)
print(filtered)

[2, 1, -8, -3, -1]
[2]

### Closures

In [2]:
def outer(par):
    loc = par

    def inner():
        return loc
    return inner


var = 1
fun = outer(var)
print(fun())

1

In [3]:
def make_closure(par):
    loc = par

    def power(p):
        return p ** loc
    return power


fsqr = make_closure(2)
fcub = make_closure(3)

for i in range(5):
    print(i, fsqr(i), fcub(i))

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64

In [5]:
def outer(par):
    loc = par

    def inner():
        return loc
    return inner


var = 1
fun = outer(var)
print(fun())

1

In [6]:
class Vowels:
    def __init__(self):
        self.vow = "aeiouy "  # Yes, we know that y is not always considered a vowel.
        self.pos = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.pos == len(self.vow):
            raise StopIteration
        self.pos += 1
        return self.vow[self.pos - 1]


vowels = Vowels()
for v in vowels:
    print(v, end=' ')

a e i o u y

# Files

In [8]:
import errno

try:
    s = open("/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt", "rt")
    # Actual processing goes here.
    s.close()
except Exception as exc:
    if exc.errno == errno.ENOENT:
        print("The file doesn't exist.")
    elif exc.errno == errno.EMFILE:
        print("You've opened too many files.")
    else:
        print("The error number is:", exc.errno)

In [9]:
print(s)

<_io.TextIOWrapper name='/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt' mode='rt' encoding='UTF-8'>

In [10]:
# Opening tzop.txt in read mode, returning it as a file object:
stream = open("/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt", "rt", encoding = "utf-8")

print(stream.read()) # printing the content of the file

example_subject number
example_1 1
example_2 2

In [11]:
from os import strerror

try:
    cnt = 0
    s = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt', "rt")
    ch = s.read(1)
    while ch != '':
        print(ch, end='')
        cnt += 1
        ch = s.read(1)
    s.close()
    print("\n\nCharacters in file:", cnt)
except IOError as e:
    print("I/O error occurred: ", strerror(e.errno))

example_subject number
example_1 1
example_2 2


Characters in file: 47

In [12]:
from os import strerror

try:
    cnt = 0
    s = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt', "rt")
    content = s.read()
    for ch in content:
        print(ch, end='')
        cnt += 1
    s.close()
    print("\n\nCharacters in file:", cnt)
except IOError as e:
    print("I/O error occurred: ", strerr(e.errno))

example_subject number
example_1 1
example_2 2


Characters in file: 47

In [13]:
from os import strerror

try:
    ccnt = lcnt = 0
    s = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt', 'rt')
    line = s.readline()
    while line != '':
        lcnt += 1
        for ch in line:
            print(ch, end='')
            ccnt += 1
        line = s.readline()
    s.close()
    print("\n\nCharacters in file:", ccnt)
    print("Lines in file:     ", lcnt)
except IOError as e:
    print("I/O error occurred:", strerror(e.errno))

example_subject number
example_1 1
example_2 2


Characters in file: 47
Lines in file:      3

In [14]:
from os import strerror

try:
    ccnt = lcnt = 0
    s = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt', 'rt')
    lines = s.readlines(20)
    while len(lines) != 0:
        for line in lines:
            lcnt += 1
            for ch in line:
                print(ch, end='')
                ccnt += 1
        lines = s.readlines(10)
    s.close()
    print("\n\nCharacters in file:", ccnt)
    print("Lines in file:     ", lcnt)
except IOError as e:
    print("I/O error occurred:", strerror(e.errno))

example_subject number
example_1 1
example_2 2


Characters in file: 47
Lines in file:      3

In [16]:
s = open("/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt")
print(s.readlines(20))
print(s.readlines(20))

s.close()

['example_subject number\n']
['example_1 1\n', 'example_2 2\n']

In [18]:
from os import strerror

try:
	ccnt = lcnt = 0
	for line in open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/file.txt', 'rt'):
		lcnt += 1
		for ch in line:
			print(ch, end='')
			ccnt += 1
	print("\n\nCharacters in file:", ccnt)
	print("Lines in file:     ", lcnt)
except IOError as e:
	print("I/O error occurred: ", strerror(e.errno))

example_subject number
example_1 1
example_2 2


Characters in file: 47
Lines in file:      3

In [19]:
from os import strerror

try:
	fo = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/newfile.txt', 'wt') # A new file (newtext.txt) is created.
	for i in range(10):
		s = "line #" + str(i+1) + "\n"
		for ch in s:
			fo.write(ch)
	fo.close()
except IOError as e:
	print("I/O error occurred: ", strerror(e.errno))

In [20]:
# Opening tzop.txt in read mode, returning it as a file object:
stream = open("/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/newfile.txt", "rt", encoding = "utf-8")

print(stream.read()) # printing the content of the file

line #1
line #2
line #3
line #4
line #5
line #6
line #7
line #8
line #9
line #10

In [21]:
from os import strerror

try:
    fo = open('/home/ocean/Documents/Python Kominfo/Minggu 5 - Pertemuan 1/newfile.txt', 'wt')
    for i in range(10):
        fo.write("line #" + str(i+1) + "\n")
    fo.close()
except IOError as e:
    print("I/O error occurred: ", strerror(e.errno))

In [23]:
import sys
sys.stderr.write("Error message")

Error message

In [24]:
data = bytearray(10)

for i in range(len(data)):
    data[i] = 10 - i

for b in data:
    print(hex(b))

0xa
0x9
0x8
0x7
0x6
0x5
0x4
0x3
0x2
0x1

In [25]:
from os import strerror

data = bytearray(10)

for i in range(len(data)):
    data[i] = 10 + i

try:
    bf = open('file.bin', 'wb')
    bf.write(data)
    bf.close()
except IOError as e:
    print("I/O error occurred:", strerror(e.errno))

# Your code that reads bytes from the stream should go here.

In [26]:
from os import strerror

data = bytearray(10)

try:
    bf = open('file.bin', 'rb')
    bf.readinto(data)
    bf.close()

    for b in data:
        print(hex(b), end=' ')
except IOError as e:
    print("I/O error occurred:", strerror(e.errno))

0xa 0xb 0xc 0xd 0xe 0xf 0x10 0x11 0x12 0x13

In [29]:
from os import strerror

srcname = input("Enter the source file name: ")
try:
    src = open(srcname, 'rb')
except IOError as e:
    print("Cannot open the source file: ", strerror(e.errno))
    exit(e.errno)	

dstname = input("Enter the destination file name: ")
try:
    dst = open(dstname, 'wb')
except Exception as e:
    print("Cannot create the destination file: ", strerror(e.errno))
    src.close()
    exit(e.errno)	

buffer = bytearray(65536)
total  = 0
try:
    readin = src.readinto(buffer)
    while readin > 0:
        written = dst.write(buffer[:readin])
        total += written
        readin = src.readinto(buffer)
except IOError as e:
    print("Cannot create the destination file: ", strerror(e.errno))
    exit(e.errno)	
    
print(total,'byte(s) succesfully written')
src.close()
dst.close()

Enter the source file name: file
Cannot open the source file:  No such file or directory
Enter the destination file name: file.txt

NameError: name 'src' is not defined

# The os module

In [1]:
import os
print(os.uname())

posix.uname_result(sysname='Linux', nodename='ocean-HP-EliteDesk-800-G1-TWR', release='4.15.0-142-generic', version='#146~16.04.1-Ubuntu SMP Tue Apr 13 09:27:15 UTC 2021', machine='x86_64')

In [2]:
import os
print(os.name)

posix

### mkdir()

In [3]:
import os

os.mkdir("my_first_directory")
print(os.listdir())

['my_first_directory', 'Python Essentials 1 - Module 2.ipynb', 'Minggu 3 - Pertemuan 2', '.ipynb_checkpoints', 'Python Essentials 2 - Module 5.ipynb', 'Minggu 4 - Pertemuan 1', 'Minggu 6 - Pertemuan 1', 'Minggu 5 - Pertemuan 1', 'Python Essentials 1 - Module 3.b.ipynb', 'Python Essentials 2 - Module 6.ipynb', 'Minggu 4 - Pertemuan 2', 'Minggu 5 - Pertemuan 2', 'Minggu 2 - Pertemuan 2', 'Minggu 4 - Pertemuan 3', 'Python Essentials 1 - Module 4.ipynb', 'Minggu 6 - Pertemuan 2', 'Python Essentials 1 - Module 3.a.ipynb', 'Python Essentials 2 - Module 8.ipynb', 'Minggu 3 - Pertemuan 1', 'Python Essentials 2 - Module 7.ipynb']

In [4]:
import os

os.makedirs("my_first_directory/my_second_directory")
os.chdir("my_first_directory")
print(os.listdir())

['my_second_directory']

In [5]:
import os

os.makedirs("my_first_directory/my_second_directory")
os.chdir("my_first_directory")
print(os.getcwd())
os.chdir("my_second_directory")
print(os.getcwd())

/home/ocean/Documents/Python Kominfo/my_first_directory/my_first_directory
/home/ocean/Documents/Python Kominfo/my_first_directory/my_first_directory/my_second_directory

In [9]:
os.chdir("../")
print(os.getcwd())

/home/ocean/Documents/Python Kominfo

### Delete directory

In [18]:
import os

print(os.listdir())
# os.rmdir("my_first_directory") #for single directory
os.removedirs("my_first_directory/my_first_directory/my_second_directory") # with sub
print(os.listdir())

['Python Essentials 1 - Module 2.ipynb', 'Minggu 3 - Pertemuan 2', '.ipynb_checkpoints', 'Python Essentials 2 - Module 5.ipynb', 'Minggu 4 - Pertemuan 1', 'Minggu 6 - Pertemuan 1', 'Minggu 5 - Pertemuan 1', 'Python Essentials 1 - Module 3.b.ipynb', 'Python Essentials 2 - Module 6.ipynb', 'Minggu 4 - Pertemuan 2', 'Minggu 5 - Pertemuan 2', 'Minggu 2 - Pertemuan 2', 'Minggu 4 - Pertemuan 3', 'Python Essentials 1 - Module 4.ipynb', 'Minggu 6 - Pertemuan 2', 'Python Essentials 1 - Module 3.a.ipynb', 'Python Essentials 2 - Module 8.ipynb', 'Minggu 3 - Pertemuan 1', 'Python Essentials 2 - Module 7.ipynb']

FileNotFoundError: [Errno 2] No such file or directory: 'my_first_directory/my_first_directory/my_second_directory'

In [19]:
import os

returned_value = os.system("mkdir my_first_directory")
print(returned_value)

0

In [20]:
import os

os.mkdir("hello")
print(os.listdir())

['my_first_directory', 'Python Essentials 1 - Module 2.ipynb', 'Minggu 3 - Pertemuan 2', '.ipynb_checkpoints', 'Python Essentials 2 - Module 5.ipynb', 'Minggu 4 - Pertemuan 1', 'Minggu 6 - Pertemuan 1', 'Minggu 5 - Pertemuan 1', 'Python Essentials 1 - Module 3.b.ipynb', 'Python Essentials 2 - Module 6.ipynb', 'Minggu 4 - Pertemuan 2', 'Minggu 5 - Pertemuan 2', 'Minggu 2 - Pertemuan 2', 'Minggu 4 - Pertemuan 3', 'hello', 'Python Essentials 1 - Module 4.ipynb', 'Minggu 6 - Pertemuan 2', 'Python Essentials 1 - Module 3.a.ipynb', 'Python Essentials 2 - Module 8.ipynb', 'Minggu 3 - Pertemuan 1', 'Python Essentials 2 - Module 7.ipynb']

### Datetime module

In [21]:
from datetime import date

today = date.today()

print("Today:", today)
print("Year:", today.year)
print("Month:", today.month)
print("Day:", today.day)

Today: 2022-04-19
Year: 2022
Month: 4
Day: 19

In [22]:
from datetime import date

my_date = date(2019, 11, 4)
print(my_date)

2019-11-04

### Timestamp

In [23]:
from datetime import date
import time

timestamp = time.time()
print("Timestamp:", timestamp)

d = date.fromtimestamp(timestamp)
print("Date:", d)

Timestamp: 1650344990.5066693
Date: 2022-04-19

### Iso format

In [24]:
from datetime import date

d = date.fromisoformat('2019-11-04')
print(d)

2019-11-04

### replace() method

In [25]:
from datetime import date

d = date(1991, 2, 5)
print(d)

d = d.replace(year=1992, month=1, day=16)
print(d)

1991-02-05
1992-01-16

### Weekday

In [26]:
from datetime import date

d = date(2019, 11, 4)
print(d.weekday())

0

In [29]:
from datetime import date

d = date(2019, 11, 30)
print(d.isoweekday())

6

### Creating time objects

In [30]:
from datetime import time

t = time(14, 53, 20, 1)

print("Time:", t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)

Time: 14:53:20.000001
Hour: 14
Minute: 53
Second: 20
Microsecond: 1

### Time module

In [31]:
import time

class Student:
    def take_nap(self, seconds):
        print("I'm very tired. I have to take a nap. See you later.")
        time.sleep(seconds)
        print("I slept well! I feel great!")

student = Student()
student.take_nap(5)

I'm very tired. I have to take a nap. See you later.
I slept well! I feel great!

### ctime() function

In [33]:
import time

timestamp = 1572879180
print(time.ctime(timestamp)) # convert time

Mon Nov  4 21:53:00 2019

In [34]:
import time

timestamp = 1572879180
print(time.ctime(timestamp))

Mon Nov  4 21:53:00 2019

### gmtime() and localtime() functions

In [35]:
import time

timestamp = 1572879180
print(time.gmtime(timestamp))
print(time.localtime(timestamp))

time.struct_time(tm_year=2019, tm_mon=11, tm_mday=4, tm_hour=14, tm_min=53, tm_sec=0, tm_wday=0, tm_yday=308, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=11, tm_mday=4, tm_hour=21, tm_min=53, tm_sec=0, tm_wday=0, tm_yday=308, tm_isdst=0)

### asctime() and mktime() functions

In [36]:
import time

timestamp = 1572879180
st = time.gmtime(timestamp)

print(time.asctime(st))
print(time.mktime((2019, 11, 4, 14, 53, 0, 0, 308, 0)))

Mon Nov  4 14:53:00 2019
1572853980.0

### More

In [37]:
from datetime import datetime

dt = datetime(2019, 11, 4, 14, 53)

print("Datetime:", dt)
print("Date:", dt.date())
print("Time:", dt.time())

Datetime: 2019-11-04 14:53:00
Date: 2019-11-04
Time: 14:53:00

In [38]:
from datetime import datetime

print("today:", datetime.today())
print("now:", datetime.now())
print("utcnow:", datetime.utcnow())

today: 2022-04-19 12:23:22.623840
now: 2022-04-19 12:23:22.623946
utcnow: 2022-04-19 05:23:22.624027

### Getting a timestamp

In [39]:
from datetime import datetime

dt = datetime(2020, 10, 4, 14, 55)
print("Timestamp:", dt.timestamp())

Timestamp: 1601798100.0

### Formatting

In [40]:
from datetime import date

d = date(2020, 1, 4)
print(d.strftime('%Y/%m/%d'))

2020/01/04

In [41]:
from datetime import time
from datetime import datetime

t = time(14, 53)
print(t.strftime("%H:%M:%S"))

dt = datetime(2020, 11, 4, 14, 53)
print(dt.strftime("%y/%B/%d %H:%M:%S"))

14:53:00
20/November/04 14:53:00

### strftime() function

In [42]:
import time

timestamp = 1572879180
st = time.gmtime(timestamp)

print(time.strftime("%Y/%m/%d %H:%M:%S", st))
print(time.strftime("%Y/%m/%d %H:%M:%S"))

2019/11/04 14:53:00
2022/04/19 12:26:46

### strptime() method

In [43]:
from datetime import datetime
print(datetime.strptime("2019/11/04 14:53:00", "%Y/%m/%d %H:%M:%S"))

2019-11-04 14:53:00

In [44]:
import time
print(time.strptime("2019/11/04 14:53:00", "%Y/%m/%d %H:%M:%S"))

time.struct_time(tm_year=2019, tm_mon=11, tm_mday=4, tm_hour=14, tm_min=53, tm_sec=0, tm_wday=0, tm_yday=308, tm_isdst=-1)

### Datetime operations

In [71]:
from datetime import date
from datetime import datetime

d1 = date(1992, 1, 16)
d2 = date(1991, 2, 5)

print(d1 - d2)

dt1 = datetime(2020, 11, 4, 0, 0, 0)
dt2 = datetime(2019, 11, 4, 14, 53, 0)

print(dt1 - dt2)

345 days, 0:00:00
365 days, 9:07:00

### Timedelta

In [46]:
from datetime import timedelta

delta = timedelta(weeks=2, days=2, hours=3)
print(delta)

16 days, 3:00:00

In [47]:
from datetime import timedelta

delta = timedelta(weeks=2, days=2, hours=3)
print("Days:", delta.days)
print("Seconds:", delta.seconds)
print("Microseconds:", delta.microseconds)

Days: 16
Seconds: 10800
Microseconds: 0

In [48]:
from datetime import timedelta
from datetime import date
from datetime import datetime

delta = timedelta(weeks=2, days=2, hours=2)
print(delta)

delta2 = delta * 2
print(delta2)

d = date(2019, 10, 4) + delta2
print(d)

dt = datetime(2019, 10, 4, 14, 53) + delta2
print(dt)

16 days, 2:00:00
32 days, 4:00:00
2019-11-05
2019-11-05 18:53:00

In [85]:
from datetime import timedelta
from datetime import date
from datetime import datetime

delta = timedelta(weeks=1, days=7, hours=11)
print(delta)

delta2 = delta * 2
print(delta2)

14 days, 11:00:00
28 days, 22:00:00

# Calendar module

In [50]:
import calendar
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [51]:
import calendar
calendar.prcal(2020)

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [54]:
import calendar
print(calendar.month(2020, 12))

   December 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

### setfirstweekday() function

In [53]:
import calendar

calendar.setfirstweekday(calendar.SUNDAY)
calendar.prmonth(2020, 12)

   December 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [87]:
import calendar

calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.weekheader(3))

Sun Mon Tue Wed Thu Fri Sat

### weekday() function

In [58]:
import calendar
print(calendar.weekday(2020, 12, 30))
#2 means tuesday

2

### weekheader() function

In [59]:
import calendar
print(calendar.weekheader(2))

Su Mo Tu We Th Fr Sa

### Checking leap year

In [61]:
import calendar

print(calendar.isleap(2020))
print(calendar.isleap(2019))
print(calendar.leapdays(2010, 2021))  # Up to but not including 2021.

True
False
3

### More

In [62]:
import calendar  

c = calendar.Calendar(calendar.SUNDAY)

for weekday in c.iterweekdays():
    print(weekday, end=" ")

6 0 1 2 3 4 5

In [75]:
import calendar  

c = calendar.Calendar()

for weekday in c.iterweekdays():
    print(weekday, end=" ")

0 1 2 3 4 5 6

### itermonthdates() method

In [63]:
import calendar  

c = calendar.Calendar()

for date in c.itermonthdates(2019, 11):
    print(date, end=" ")

2019-10-28 2019-10-29 2019-10-30 2019-10-31 2019-11-01 2019-11-02 2019-11-03 2019-11-04 2019-11-05 2019-11-06 2019-11-07 2019-11-08 2019-11-09 2019-11-10 2019-11-11 2019-11-12 2019-11-13 2019-11-14 2019-11-15 2019-11-16 2019-11-17 2019-11-18 2019-11-19 2019-11-20 2019-11-21 2019-11-22 2019-11-23 2019-11-24 2019-11-25 2019-11-26 2019-11-27 2019-11-28 2019-11-29 2019-11-30 2019-12-01

In [64]:
import calendar  

c = calendar.Calendar()

for iter in c.itermonthdays(2019, 11):
    print(iter, end=" ")

0 0 0 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 0

### monthdays2calendar() method

In [65]:
import calendar  

c = calendar.Calendar()

for data in c.monthdays2calendar(2020, 12):
    print(data)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]
[(7, 0), (8, 1), (9, 2), (10, 3), (11, 4), (12, 5), (13, 6)]
[(14, 0), (15, 1), (16, 2), (17, 3), (18, 4), (19, 5), (20, 6)]
[(21, 0), (22, 1), (23, 2), (24, 3), (25, 4), (26, 5), (27, 6)]
[(28, 0), (29, 1), (30, 2), (31, 3), (0, 4), (0, 5), (0, 6)]

In [67]:
import calendar
print(calendar.weekheader(2))

Su Mo Tu We Th Fr Sa

In [68]:
t = (0,1,2,3,4,5,6)
foo = tuple(filter(lambda x : x>1,t))
print(foo)

(2, 3, 4, 5, 6)

In [80]:
t = (0,1,2,3,4,5,6)
foo = list(filter(lambda x : x-0 and x-1,t))
print(foo)

[2, 3, 4, 5, 6]

In [69]:
b = bytearray(3)
print(b)

bytearray(b'\x00\x00\x00')

In [70]:
t = [0,1,2,3,4,5,6]
foo = tuple(map(lambda x : x**x,t))
print(foo)

(1, 1, 4, 27, 256, 3125, 46656)

In [84]:
t = [0,1,2,3,4,5,6]
foo = filter(lambda x : x**x,t)
print(foo)

<filter object at 0x7f957a3932e0>

In [72]:
def fun(n):
    s = '+'
    for i in range(n):
        s += s
        yield s

for x in fun(2):
    print(x, end='')

++++++

In [73]:
def I():
    s = 'abcdef'
    for c in s[::2]:
        yield c

for x in I():
    print(x, end='')

ace

In [74]:
def o(p):
    def q():
        return '*'*p
    return q
r=o(1)
s=o(2)
print(r()+s())

***

In [76]:
from datetime import time
from datetime import datetime

t = time(14, 53)
print(t.strftime("%H:%M:%S"))

dt = datetime(2020, 11, 4, 14, 53)
print(dt.strftime("%y/%B/%d %H:%M:%S"))

14:53:00
20/November/04 14:53:00

In [78]:
import os
os.mkdir('pictures')
os.chdir('pictures')
os.mkdir('thumbnails')
os.chdir('thumbnails')
os.mkdir('tmp')
os.chdir('../')
print(os.getcwd())

/home/ocean/Documents/Python Kominfo/pictures/pictures

In [86]:
import os
os.mkdir('pictures')
os.chdir('pictures')
print(os.getcwd())

/home/ocean/Documents/Python Kominfo/pictures/pictures/pictures

In [91]:
numbers = [i*i for i in range(5)]
foo = list(filter(lambda x:x%2,numbers))
print(foo)

[1, 9]