# Data types, variables, basic input-output operations, basic operators

---

# String

## Hello World!

In [2]:
print("Hello World!")

Hello World!

In [3]:
#debug
prin("Hello World!")

NameError: name 'prin' is not defined

## Print() Function

In [5]:
print("The itsy bitsy spider climbed up the waterspout.")
print("Down came the rain and washed the spider out.")

The itsy bitsy spider climbed up the waterspout.
Down came the rain and washed the spider out.

### Space between two lines

In [6]:
print("The itsy bitsy spider climbed up the waterspout.")
print()
print("Down came the rain and washed the spider out.")

The itsy bitsy spider climbed up the waterspout.

Down came the rain and washed the spider out.

### New lines

In [7]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

### Multiple Arguments

In [8]:
print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

The itsy bitsy spider climbed up the waterspout.

### Positional Argument and Key Argument

In [9]:
print("My name is", "Python.")
print("Monty Python.")

My name is Python.
Monty Python.

In [13]:
print("My name is", "Python.", end=" ")
print("Monty Python.")
print()
print("My name is", "Python.", end="\n")
print("Monty Python.")

My name is Python. Monty Python.

My name is Python.
Monty Python.

### Keyword Argument - Separator

In [14]:
print("My", "name", "is", "Monty", "Python.", sep="-")

My-name-is-Monty-Python.

### Keyword Argument - Mixed

In [18]:
print("My", "name", "is", sep="_", end="**")
print("Monty", "Python.", sep="*", end="*\n")

My_name_is**Monty*Python.*

### Task 2

In [23]:
#expected output: Programming***Essentials***in...Python 
#starting code: 
#print("Programming","Essentials","in") 
#print("Python")

In [24]:
print("Programming","Essentials","in", sep="***", end="...")
print("Python")

Programming***Essentials***in...Python

### Task 3

In [26]:
#starting code:
print("    *")
print("   * *")
print("  *   *")
print(" *     *")
print("***   ***")
print("  *   *")
print("  *   *")
print("  *****")

#to do: 
#1. reduce the code line to one
#2. make it twice as large
#3. duplicate the arrow

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [27]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [33]:
print("        *")
print("       * *")
print("      *   *")
print("     *     *")
print("    *       *")
print("   *         *")
print("  *           *")
print(" *             *")
print("*****       *****")
print("    *       *")
print("    *       *")
print("    *       *")
print("    *       *")
print("    *       *")
print("    *       *")
print("    *********")

        *
       * *
      *   *
     *     *
    *       *
   *         *
  *           *
 *             *
*****       *****
    *       *
    *       *
    *       *
    *       *
    *       *
    *       *
    *********

In [35]:
print("    *     "*2)
print("   * *    "*2)
print("  *   *   "*2)
print(" *     *  "*2)
print("***   *** "*2)
print("  *   *   "*2)
print("  *   *   "*2)
print("  *****   "*2)

    *         *
   * *       * *
  *   *     *   *
 *     *   *     *
***   *** ***   ***
  *   *     *   *
  *   *     *   *
  *****     *****



# Literals

### Integers: octal

In [36]:
print(0o123)

83

### Integers: hexadecimal

In [37]:
print(0x123)

291

### Floats

In [72]:
6.62607E-34

6.62607e-34

In [39]:
print(0.0000000000000000000001)

1e-22

In [75]:
2E2

200.0

In [76]:
int(2E2)

200

### Print " "

In [41]:
print("I like \"Monty Python\"")
print('I like "Monty Python"')

I like "Monty Python"
I like "Monty Python"

### None

In [68]:
print(None)

None

### Checking data type

In [79]:
type(2.5)

float

In [80]:
type(True)

bool

### Task 4

In [42]:
#expected output: I'm Monty Python.

In [46]:
print("I\'m Monty Python.")

print("I'm Monty Python.")

I'm Monty Python.
I'm Monty Python.

### Data types: Boolean

In [47]:
print(True > False)
print(True < False)

True
False

### Task 5

In [48]:
#expected output: 
#"I'm"
#""learning""
#"""Python"""

#todo: write one line code using print

In [49]:
print("\"I\'m\" \n \"\"learning\"\" \n \"\"\"Python\"\"\"")

"I'm"
 ""learning""
 """Python"""

# Operators - data manipulation

### Basic Arithmetic

In [88]:
print(1+23)
print(1+23.)
print(-100-10)
print(10.-10.)
print()

print(10*10)
print(100*0.5)
print(100/2)
print(1/100)
print()

print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print(2 ** 0.4)
print()

print(3%2.)
print(100%7)
print()

print(13//3.)
print(1000//13)

24
24.0
-110
0.0

100
50.0
50.0
0.01

8
8.0
8.0
8.0
1.3195079107728942

1.0
2

4.0
76

### Priorities

In [91]:
#compute * then +
print(2 + 3 * 5)

17

In [92]:
#compute % from left to right
print(9 % 6 % 2)

1

In [93]:
#compute ** from right to left (imagine 2^2^3)
print(2 ** 2 ** 3)

256

In [95]:
#compute * then %
print(2 * 3 % 5)

1

In [96]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

# Variables

In [97]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

### Case sensitive

In [98]:
var = 1
print(Var)

NameError: name 'Var' is not defined

In [99]:
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

### Do not use these words as variable

In [100]:
['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Assigning new variables

In [101]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [102]:
var = 100
var = 200 + 300
print(var)

500

### Square root

In [103]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

### Task 6

In [104]:
john = 3
mary = 5
adam = 6

print(john,mary,adam)
total_apples = john + mary + adam
print(total_apples)
print("Total number of apples:",total_apples)

3 5 6
14
Total number of apples: 14

### Shorcut Operators

In [115]:
x = 111
sheep = 100
x = x * 2
sheep = sheep + 1

x *= 2
sheep += 1

print(x)
print(sheep)

444
102

### Task 7

In [2]:
#expected output: 
#7.38 miles is 11.88 kilometers
#12.25 kilometers is 7.61 miles

#todo: write the code to convert miles to km and vice versa

In [3]:
kilometers = 12.25
miles = 7.38

#put your code here
miles_to_kilometers = miles*1.61 
kilometers_to_miles = kilometers*1/1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

### Task 8

In [4]:
#expected output:
'''
sample:
x = 0
x = 1
x = -1
output:
y = -1.0
y = 3.0
y = -9.0
'''
#todo: write a function 3x^3-2x^2+3x-1

'\nsample:\nx = 0\nx = 1\nx = -1\noutput:\ny = -1.0\ny = 3.0\ny = -9.0\n'

In [17]:
x = 0
x = float(x)
y = 3*x**3-2*x**2+3*x-1

x1 = 1
x1 = float(x1)
y1 = 3*x1**3-2*x1**2+3*x1-1

x2 = -1
x2 = float(x2)
y2 = 3*x2**3-2*x2**2+3*x2-1

print("y =", y)
print("y =", y1)
print("y =", y2)

y = -1.0
y = 3.0
y = -9.0

# Comments

In [4]:
# comment 1
# comment 2
'''
comment 3
comment 4
comment 5
comment 6
'''
print('only this line will be showed')

only this line will be showed

# Input() function

### Input as a string

In [5]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
"I love Bakso"
Hmm... "I love Bakso" ... Really?

In [7]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Tell me anything...I love Bakso
Hmm... I love Bakso ...Really?

### Input as a number

In [16]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 2
2.0 to the power of 2 is 4.0

In [18]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 3
Input second leg length: 4
Hypotenuse length is 5.0

### String operators

In [20]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

May I have your first name, please? Senja
May I have your last name, please? Reggae
Thank you.

Your name is Senja Reggae.

### Replication

In [25]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n")*5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

### Conversion

In [26]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 20
Input second leg length: 1
Hypotenuse length is 20.024984394500787

### Task 9

In [6]:
#todo: write a code to evaluate basic arithmetic with an input number and print the result

In [28]:
a = float(input("a = "))
b = float(input("b = "))
c1 = a+b
c2 = a-b
c3 = a*b
c4 = a/b
c = c1-2*c2+c3/c4
print("Results "+ str(c) + "\nThat's all, folks!")

a = 100
b = 20
Results 360.0
That's all, folks!

### Task 10

In [7]:
#expected output:
'''
sample
10
100
-5
output
y = 0.6000000000000001
y = 0.009999000199950014
y = -0.19258202567760344
'''
#todo:evaluate the function 1/(x+1/(x+1/(x+1/x))

'\nsample\n10\n100\n-5\noutput\ny = 0.6000000000000001\ny = 0.009999000199950014\ny = -0.19258202567760344\n'

In [18]:
x = float(input("Enter value for x: "))
y = 1/(x+1/(x+1/(1/x+1/x)))

x1 = float(input("Enter value for x: "))
y1 = 1/(x1+1/(x1+1/(1/x1+1/x1)))

x2 = float(input("Enter value for x: "))
y2 = 1/(x2+1/(x2+1/(1/x2+1/x2)))

print("y =", y)
print("y =", y1)
print("y =", y2)

Enter value for x: 10
Enter value for x: 100
Enter value for x: -5
y = 0.09933774834437087
y = 0.009999333377774816
y = -0.1948051948051948

### Task 11

In [19]:
#expected output:
'''
sample
12
17
59
output
13:16

sample
23
58
642
output
10:40

sample
0
1
2939
output
1:0
'''

#todo: write a program to determine the end of the hours from input hours, minutes and durations 
#starting code: 
#hour = int(input("Starting time (hours): "))
#mins = int(input("Starting time (minutes): "))
#dura = int(input("Event duration (minutes): "))

'\nsample\n12\n17\n59\noutput\n13:16\n\nsample\n23\n58\n642\noutput\n10:40\n\nsample\n0\n1\n2939\noutput\n1:0\n'

In [40]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

min_end = mins+dura
hour_end = hour+min_end//60
min_end %= 60
hour_end %= 24
 
event_ends =str(hour_end) + ":" + str(min_end) 
print(event_ends)

hour1 = int(input("Starting time (hours): "))
mins1 = int(input("Starting time (minutes): "))
dura1 = int(input("Event duration (minutes): "))

min_end1 = mins1+dura1
hour_end1 = hour1+min_end1//60
min_end1 %= 60
hour_end1 %= 24
 
event_ends1 =str(hour_end1) + ":" + str(min_end1) 
print(event_ends1)

hour2 = int(input("Starting time (hours): "))
mins2 = int(input("Starting time (minutes): "))
dura2 = int(input("Event duration (minutes): "))

min_end2 = mins2+dura2
hour_end2 = hour2+min_end2//60
min_end2 %= 60
hour_end2 %= 24
 
event_ends2 =str(hour_end2) + ":" + str(min_end2) 
print(event_ends2)

Starting time (hours): 12
Starting time (minutes): 17
Event duration (minutes): 59
13:16
Starting time (hours): 23
Starting time (minutes): 58
Event duration (minutes): 642
10:40
Starting time (hours): 0
Starting time (minutes): 1
Event duration (minutes): 2939
1:0