# Functions, tuples, dictionaries, and data processing
---

# Writing Functions

In [1]:
print("Enter a value: ")
a = int(input())

print("Enter a value: ")
b = int(input())

print("Enter a value: ")
c = int(input())

Enter a value:
12
Enter a value:
1243
Enter a value:
123

In [11]:
def message():
    print("Enter a value: ")

print("We start here.")
message()
print("We end here.")

We start here.
Enter a value:
We end here.

In [13]:
def message():
    print("Enter a value: ")

message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

Enter a value:
1111111111132
Enter a value:
123
Enter a value:
312

# Parameterized Functions

In [16]:
def message(number):
    print("Enter a number:", number)

message()

TypeError: message() missing 1 required positional argument: 'number'

In [15]:
def message(number):
    print("Enter a number:", number)
message(5)

Enter a number: 5

In [18]:
def message(what, number):
    print("Enter", what, "number", number)

message("telephone", 11)
message("price", 5)
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter number number number

### Positional Parameter Passing

In [19]:
def my_function(a, b, c):
    print(a, b, c)

my_function(1, 2, 3)

1 2 3

In [20]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Luke", "Skywalker")
introduction("Jesse", "Quick")
introduction("Clark", "Kent")

Hello, my name is Luke Skywalker
Hello, my name is Jesse Quick
Hello, my name is Clark Kent

In [21]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

Hello, my name is Skywalker Luke
Hello, my name is Quick Jesse
Hello, my name is Kent Clark

### Keyword Argument Passing

In [22]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction(first_name = "James", last_name = "Bond")
introduction(last_name = "Skywalker", first_name = "Luke")

Hello, my name is James Bond
Hello, my name is Luke Skywalker

# Mixing positional and keyword arguments

In [27]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

adding(1, 2, 3)
adding(c = 1, a = 2, b = 3)
adding(3, c = 1, b = 2)
adding(4, 3, c = 2)

1 + 2 + 3 = 6
2 + 3 + 1 = 6
3 + 2 + 1 = 6
4 + 3 + 2 = 9

In [28]:
def introduction(first_name, last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

# Call the function here.
introduction("James", "Doe")
introduction("Henry")
introduction(first_name="William")

Hello, my name is James Doe
Hello, my name is Henry Smith
Hello, my name is William Smith

In [29]:
def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

introduction()
introduction(last_name="Hopkins")

Hello, my name is John Smith
Hello, my name is John Hopkins

### Key takeaway

In [30]:
def hi(name):
    print("Hi,", name)

hi("Greg")

Hi, Greg

In [31]:
def hi_all(name_1, name_2):
    print("Hi,", name_2)
    print("Hi,", name_1)

hi_all("Sebastian", "Konrad")

Hi, Konrad
Hi, Sebastian

In [32]:
def address(street, city, postal_code):
    print("Your address is:", street, "St.,", city, postal_code)

s = input("Street: ")
p_c = input("Postal Code: ")
c = input("City: ")

address(s, c, p_c)

Street: Senja
Postal Code: 10013
City: Kota Tua
Your address is: Senja St., Kota Tua 10013

In [35]:
# Ex. 1
def subtra(a, b):
    print(a - b)

subtra(5, 2)    # outputs: 3
subtra(2, 5)    # outputs: -3


# Ex. 2
def subtra(a, b):
    print(a - b)

subtra(a=5, b=2)    # outputs: 3
subtra(b=2, a=5)    # outputs: 3

# Ex. 3
def subtra(a, b):
    print(a - b)

subtra(5, b=2)    # outputs: 3
subtra(5, 2)    # outputs: 3

3
-3
3
3
3
3

In [36]:
def name(first_name, last_name="Smith"):
    print(first_name, last_name)

name("Andy")    # outputs: Andy Smith
name("Betty", "Johnson")    # outputs: Betty Johnson (the keyword argument replaced by "Johnson")

Andy Smith
Betty Johnson

In [45]:
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1,b,c=1)

SyntaxError: non-default argument follows default argument (<ipython-input-45-eb534ca380af>, line 1)

In [46]:
add_numbers(a=1,b=2,c=1)

4

# Returning results from functions

### without an expression

In [48]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
    
    print("Happy New Year!")
happy_new_year()

Three...
Two...
One...
Happy New Year!

In [49]:
happy_new_year(False)

Three...
Two...
One...

### with an expression

In [50]:
def boring_function():
    return 123

x = boring_function()

print("The boring_function has returned its result. It's:", x)

The boring_function has returned its result. It's: 123

In [51]:
def boring_function():
    print("'Boredom Mode' ON.")
    return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring...")

This lesson is interesting!
'Boredom Mode' ON.
This lesson is boring...

### None

In [52]:
value = None
if value is None:
    print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [53]:
def strange_function(n):
    if(n % 2 == 0):
        return True
print(strange_function(2))
print(strange_function(1))

True
None

### Lists and functions

In [59]:
def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
    return s

print(list_sum([5, 4, 3]))

12

In [72]:
def strange_list_fun(n):
    strange_list = []
    
    for i in range(0, n):
        strange_list.insert(0, i)
    
    return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [76]:
def even_num_lst(ran):
    lst = []
    for num in range(ran):
        if num % 2 == 0:
            lst.append(num)
    return lst

print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

### Key takeaways

In [64]:
def multiply(a, b):
    return a * b

print(multiply(3, 4))    # outputs: 12


def multiply(a, b):
    return

print(multiply(3, 4))    # outputs: None

def multiply(a, b):
    a * b

print(multiply(3, 4))    # outputs: None

12
None
None

In [65]:
def wishes():
    return "Happy Birthday!"

w = wishes()

print(w)    # outputs: Happy Birthday!

Happy Birthday!

In [66]:
# Example 1
def wishes():
    print("My Wishes")
    return "Happy Birthday"

wishes()    # outputs: My Wishes


# Example 2
def wishes():
    print("My Wishes")
    return "Happy Birthday"

print(wishes())

# outputs: My Wishes
#          Happy Birthday

My Wishes
My Wishes
Happy Birthday

In [67]:
def hi_everybody(my_list):
    for name in my_list:
        print("Hi,", name)

hi_everybody(["Adam", "John", "Lucy"])

Hi, Adam
Hi, John
Hi, Lucy

In [70]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list

print(create_list(5))

[0, 1, 2, 3, 4]

# Scopes

In [77]:
def scope_test():
    x = 123


scope_test()
print(x)

123

In [78]:
def my_function():
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [79]:
def my_function():
    var = 2
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 2
1

### The global keyword

In [80]:
def my_function():
    global var
    var = 2
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 2
2

### Arguments

In [81]:
def my_function(n):
    print("I got", n)
    n += 1
    print("I have", n)


var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [82]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]
Print #5: [2, 3]

In [83]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0]  # Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

### Key takeaways

In [87]:
var = 2

def mult_by_var(x):
    return x * var

print(mult_by_var(7))    # outputs: 14

14

In [86]:
def mult(x):
    var = 5
    return x * var


print(mult(7))    # outputs: 35

35

In [88]:
def mult(x):
    var = 7
    return x * var

var = 3
print(mult(7))    # outputs: 49

49

In [89]:
var = 2
print(var)    # outputs: 2


def return_var():
    global var
    var = 5
    return var


print(return_var())    # outputs: 5
print(var)    # outputs: 5

2
5
5

In [90]:
a = 1


def fun():
    global a
    a = 2
    print(a)


fun()
a = 3
print(a)

2
3

In [91]:
a = 1


def fun():
    global a
    a = 2
    print(a)


a = 3
fun()
print(a)

2
2

# Creating Simple Functions

In [92]:
def bmi(weight, height):
    return weight / height ** 2


print(bmi(52.5, 1.65))

19.283746556473833

In [104]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or \
    weight < 20 or weight > 200:
        return None

    return weight / height ** 2


print(bmi(352.5, 1.65))
print(bmi(160, 1.65))

None
58.76951331496787

In [107]:
def lb_to_kg(lb):
    return lb * 0.45359237

print(lb_to_kg(1))

0.45359237

In [110]:
# compare with
def lb_to_kg(lb):
    print(lb * 0.45359237)

lb_to_kg(1)

0.45359237

In [111]:
def ft_and_inch_to_m(ft, inch):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(1, 1))
print(ft_and_inch_to_m(6, 0))

0.3302
1.8288000000000002

In [112]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(6))

1.8288000000000002

In [113]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.45359237


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2


print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

### More

In [114]:
def is_a_triangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [115]:
def is_a_triangle(a, b, c):
    if a + b <= c or b + c <= a or c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [116]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [117]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
    print('Yes, it can be a triangle.')
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length: 3
Enter the second side's length: 4
Enter the third side's length: 5
Yes, it can be a triangle.

In [118]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c > b:
        return c ** 2 == a ** 2 + b ** 2
    if a > b and a > c:
        return a ** 2 == b ** 2 + c ** 2


print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [119]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
    print('Yes, it can be a triangle.')
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length: 2
Enter the second side's length: 4
Enter the third side's length: 5
Yes, it can be a triangle.

In [124]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def heron(a, b, c):
    p = (a + b + c) / 2
    return (p * (p - a) * (p - b) * (p - c)) ** 0.5


def area_of_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return None
    return heron(a, b, c)


print(area_of_triangle(1., 1., 2. ** .5))
print(area_of_triangle(1., 1., 0))

0.49999999999999983
None

In [126]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    
    product = 1
    for i in range(2, n + 1):
        product *= i
    return product


for n in range(1, 6):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120

In [127]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):  # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

### Recursion Implementation

In [134]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)
# print(fib(10))
for n in range(1, 10):  # testing
    print(n, fib(n))

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

In [135]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    return n * factorial_function(n - 1)

for n in range(1, 6):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120

In [138]:
def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

56

# Tuples and Dictionary

### Tuples

In [142]:
# List
list_1 = [1, 2, 3, 5, 6]
list_1

[1, 2, 3, 5, 6]

In [146]:
# Tuple
tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125
print(tuple_1)
print(tuple_2)

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)

In [154]:
empty_tuple = ()
one_element_tuple_1 = (1, )
one_element_tuple_2 = 1.,
coba = (1)

print(empty_tuple)
print(one_element_tuple_1, type(one_element_tuple_1))
print(coba, type(coba))

()
(1,) <class 'tuple'>
1 <class 'int'>

In [156]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])
print()
for elem in my_tuple:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)

1
10
100
1000

In [157]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [158]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

### Dictionaries

In [159]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}
empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'Suzy': 22657854310}
{}

In [163]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss' : 5551234567, 'Suzy' : 22657854310}
empty_dictionary = {}

# Print the values here.
print(dictionary['cat'])
print(phone_numbers['Suzy'])
print(dictionary['chat']) #not allowed because it's a one-way definitions.

chat
22657854310

KeyError: 'chat'

In [164]:
print(phone_numbers['president'])

KeyError: 'president'

In [165]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
words = ['cat', 'lion', 'horse']

for word in words:
    if word in dictionary:
        print(word, "->", dictionary[word])
    else:
        print(word, "is not in dictionary")

cat -> chat
lion is not in dictionary
horse -> cheval

In [167]:
# Good formatting
# Example 1:
dictionary = {
              "cat": "chat",
              "dog": "chien",
              "horse": "cheval"
              }

# Example 2:
phone_numbers = {'boss': 5551234567,
                 'Suzy': 22657854310
                 }

### The keys() function

In [172]:
dictionary = {"lion": "beast", "cat": "chat", "dog": "chien", "horse": "cheval"}

for key in dictionary.keys():
    print(key, "->", dictionary[key])

lion -> beast
cat -> chat
dog -> chien
horse -> cheval

### The sorted() function

In [173]:
dictionary = {"lion": "beast", "cat": "chat", "dog": "chien", "horse": "cheval"}

for key in sorted(dictionary.keys()):
    print(key, "->", dictionary[key])

cat -> chat
dog -> chien
horse -> cheval
lion -> beast

### The items() and values() methods

In [174]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

for english, french in dictionary.items():
    print(english, "->", french)

cat -> chat
dog -> chien
horse -> cheval

In [175]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

for french in dictionary.values():
    print(french)

chat
chien
cheval

### Modify

In [176]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary['cat'] = 'minou'
print(dictionary)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [177]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary['swan'] = 'cygne'
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne'}

In [178]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.update({"duck": "canard"})
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'duck': 'canard'}

In [179]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

del dictionary['dog']
print(dictionary)

{'cat': 'chat', 'horse': 'cheval'}

In [181]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.popitem() # removing the last item
print(dictionary)    # outputs: {'cat': 'chat', 'dog': 'chien'}

{'cat': 'chat', 'dog': 'chien'}

### Put them together

In [183]:
school_class = {}

while True:
    name = input("Enter the student's name: ")
    if name == '':
        break
    
    score = int(input("Enter the student's score (0-10): "))
    if score not in range(0, 11):
	    break
    
    if name in school_class:
        school_class[name] += (score,)
    else:
        school_class[name] = (score,)
        
for name in sorted(school_class.keys()):
    adding = 0
    counter = 0
    for score in school_class[name]:
        adding += score
        counter += 1
    print(name, ":", adding / counter)

Enter the student's name: senja
Enter the student's score (0-10): 10
Enter the student's name: hoki
Enter the student's score (0-10): 5
Enter the student's name: kot
Enter the student's score (0-10): 8
Enter the student's name: tua
Enter the student's score (0-10): 1
Enter the student's name: petang
Enter the student's score (0-10): 6
Enter the student's name: sore
Enter the student's score (0-10): 5
Enter the student's name: malam
Enter the student's score (0-10): 5
Enter the student's name: pagi
Enter the student's score (0-10): 9
Enter the student's name: beta
Enter the student's score (0-10): 1
Enter the student's name: nona
Enter the student's score (0-10): 3
Enter the student's name: mana
Enter the student's score (0-10): 3
Enter the student's name:
beta : 1.0
hoki : 5.0
kot : 8.0
malam : 5.0
mana : 3.0
nona : 3.0
pagi : 9.0
petang : 6.0
senja : 10.0
sore : 5.0
tua : 1.0

### Key takeaways

In [184]:
my_tuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
print(my_tuple)

my_list = [1, 2, True, "a string", (3, 4), [5, 6], None]
print(my_list)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

In [185]:
empty_tuple = ()
print(type(empty_tuple))    # outputs: <class 'tuple'>

<class 'tuple'>

In [186]:
one_elem_tuple_1 = ("one", )    # Brackets and a comma.
one_elem_tuple_2 = "one",       # No brackets, just a comma.

In [187]:
my_tuple_1 = 1, 
print(type(my_tuple_1))    # outputs: <class 'tuple'>

my_tuple_2 = 1             # This is not a tuple.
print(type(my_tuple_2))    # outputs: <class 'int'>

<class 'tuple'>
<class 'int'>

In [189]:
my_tuple = (1, 2.0, "string", [3, 4], (5, ), True)
my_tuple[2] = "guitar"    # The TypeError exception will be raised.

TypeError: 'tuple' object does not support item assignment

In [190]:
my_tuple = 1, 2, 3, 
del my_tuple
print(my_tuple)    # NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

In [191]:
# Example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
    print(elem)

# Example 2
tuple_2 = (1, 2, 3, 4)
print(5 in tuple_2)
print(5 not in tuple_2)

# Example 3
tuple_3 = (1, 2, 3, 5)
print(len(tuple_3))

# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 2

print(tuple_4)
print(tuple_5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [192]:
my_tuple = tuple((1, 2, "string"))
print(my_tuple)

my_list = [2, 4, 6]
print(my_list)    # outputs: [2, 4, 6]
print(type(my_list))    # outputs: <class 'list'>
tup = tuple(my_list)
print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # outputs: <class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [193]:
tup = 1, 2, 3, 
my_list = list(tup)
print(type(my_list))    # outputs: <class 'list'>

<class 'list'>

In [195]:
pol_eng_dictionary = {
    "kwiat": "flower",
    "woda": "water",
    "gleba": "soil"
    }

item_1 = pol_eng_dictionary["gleba"]    # ex. 1
print(item_1)    # outputs: soil

item_2 = pol_eng_dictionary.get("woda")
print(item_2)    # outputs: water

soil
water

In [196]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

pol_eng_dictionary["zamek"] = "lock"
item = pol_eng_dictionary["zamek"]    
print(item)  # outputs: lock

lock

In [197]:
phonebook = {}    # an empty dictionary

phonebook["Adam"] = 3456783958    # create/add a key-value pair
print(phonebook)    # outputs: {'Adam': 3456783958}

del phonebook["Adam"]
print(phonebook)    # outputs: {}

{'Adam': 3456783958}
{}

In [198]:
pol_eng_dictionary = {"kwiat": "flower"}

pol_eng_dictionary.update({"gleba": "soil"})
print(pol_eng_dictionary)    # outputs: {'kwiat': 'flower', 'gleba': 'soil'}

pol_eng_dictionary.popitem()
print(pol_eng_dictionary)    # outputs: {'kwiat': 'flower'}

{'kwiat': 'flower', 'gleba': 'soil'}
{'kwiat': 'flower'}

In [199]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for item in pol_eng_dictionary:
    print(item) 

# outputs: zamek
#          woda
#          gleba

zamek
woda
gleba

In [200]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

In [201]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

if "zamek" in pol_eng_dictionary:
    print("Yes")
else:
    print("No")

Yes

In [202]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

print(len(pol_eng_dictionary))    # outputs: 3
del pol_eng_dictionary["zamek"]    # remove an item
print(len(pol_eng_dictionary))    # outputs: 2

pol_eng_dictionary.clear()   # removes all the items
print(len(pol_eng_dictionary))    # outputs: 0

del pol_eng_dictionary    # removes the dictionary

3
2
0

In [203]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()

In [208]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    d3.update(item)

print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

# Exceptions - Debugging

In [218]:
value = int(input('Enter a natural number: '))
print('The reciprocal of', value, 'is', 1/value)

Enter a natural number: 1
The reciprocal of 1 is 1.0

In [221]:
value = int(input('Enter a natural number: '))
print('The reciprocal of', value, 'is', 1/value)

Enter a natural number: 1.1

ValueError: invalid literal for int() with base 10: '1.1'

In [223]:
value = int(input('Enter a natural number: '))
print('The reciprocal of', value, 'is', 1/value)

Enter a natural number: 0

ZeroDivisionError: division by zero

### The try-except branch

In [220]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except:
    print('I do not know what to do.')

Enter a natural number: 1.1
I do not know what to do.

In [222]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except ValueError:
    print('I do not know what to do.')    
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')

Enter a natural number: 0
Division by zero is not allowed in our Universe.

In [228]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except ValueError:
    print('I do not know what to do.')    
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')    
except:
    print('Something strange has happened here... Sorry!')

Enter a natural number: a
I do not know what to do.

#### Useful exceptions

In [233]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)        
except ValueError:
    print('I do not know what to do.')    
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')    
except TypeError:
    print('Something strange has happened here... Sorry!')
except AttributeError:
    print('A')
# except SyntaxError:
#     print('B')

Enter a natural number: 123as
I do not know what to do.

### Testing and debugging

In [236]:
temperature = float(input('Enter current temperature:'))

if temperature > 0:
    print("Above zero")
elif temperature < 0:
    print("Below zero")
else:
    print("Zero")

Enter current temperature:1
Above zero

In [239]:
temperature = float(input('Enter current temperature:'))

if temperature > 0:
    print("Above zero")
elif temperature < 0:
    prin("Below zero")
else:
    print("Zero")

Enter current temperature:0
Zero

In [240]:
while True:
    try:
        number = int(input("Enter an integer number: "))
        print(number/2)
        break
    except:
        print("Warning: the value entered is not a valid number. Try again...")

Enter an integer number: 1.1
Warning: the value entered is not a valid number. Try again...
Enter an integer number: 1a
Warning: the value entered is not a valid number. Try again...
Enter an integer number: 1
0.5

In [241]:
while True:
    try:
        number = int(input("Enter an int number: "))
        print(5/number)
        break
    except ValueError:
        print("Wrong value.")
    except ZeroDivisionError:
        print("Sorry. I cannot divide by zero.")
    except:
        print("I don't know what to do...")

Enter an int number: 1.1
Wrong value.
Enter an int number: 0
Sorry. I cannot divide by zero.
Enter an int number: 123
0.04065040650406504

In [243]:
while True:
    try:
        number = int(input("Enter an int number: "))
        print(5/number)
        break
    except (ValueError, ZeroDivisionError):
        print("Wrong value or No division by zero rule broken.")
    except:
        print("Sorry, something went wrong...")

Enter an int number: 0
Wrong value or No division by zero rule broken.
Enter an int number: 1.1
Wrong value or No division by zero rule broken.
Enter an int number: 123
0.04065040650406504