# Strings, String and List Methods, Exceptions
---

# String

In [1]:
# Example 1

word = 'by'
print(len(word))


# Example 2

empty = ''
print(len(empty))


# Example 3

i_am = 'I\'m'
print(len(i_am))

2
0
3

In [4]:
multiline = '''Line #1
Line #2'''

print(len(multiline))

15

### Operator on strings 
(concatenated, replicated)

In [5]:
str1 = 'a'
str2 = 'b'

print(str1 + str2)
print(str2 + str1)
print(5 * 'a')
print('b' * 4)

ab
ba
aaaaa
bbbb

### ord() function

In [51]:
# Demonstrating the ord() function. to convert into an ASCII number

char_1 = 'a'
char_2 = ' '  # space

print(ord('c')-ord(char_1))
print(ord(char_2))

2
32

### chr() function

In [8]:
# Demonstrating the chr() function.

print(chr(97))
print(chr(945))

a
α

In [1]:
print(chr(ord('p')+2))

r

### Indexing

In [9]:
# Indexing strings.

the_string = 'silly walks'

for ix in range(len(the_string)):
    print(the_string[ix], end=' ')

print()

s i l l y   w a l k s

In [10]:
# Iterating through a string.

the_string = 'silly walks'

for ix in the_string:
    print(ix, end=' ')

print()

s i l l y   w a l k s

### Slices

In [12]:
# Slices

alpha = "abdefg"

print(alpha[1:3])
print(alpha[3:])
print(alpha[:3])
print(alpha[3:-2])
print(alpha[-3:4])
print(alpha[::2])
print(alpha[1::2])

bd
efg
abd
e
e
adf
beg

### The in and not in operator

In [13]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" in alphabet)
print("F" in alphabet)
print("1" in alphabet)
print("ghi" in alphabet)
print("Xyz" in alphabet)

True
False
False
True
False

In [14]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" not in alphabet)
print("F" not in alphabet)
print("1" not in alphabet)
print("ghi" not in alphabet)
print("Xyz" not in alphabet)

False
True
True
False
True

### Issues (immutable)

In [15]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
del alphabet[0]

TypeError: 'str' object doesn't support item deletion

In [22]:
# delete the whole variable to make it works
alphabet = "abcdefghijklmnopqrstuvwxyz"
del alphabet

In [16]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet.append("A")

AttributeError: 'str' object has no attribute 'append'

In [17]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet.insert(0, "A")

AttributeError: 'str' object has no attribute 'insert'

### More

In [23]:
alphabet = "bcdefghijklmnopqrstuvwxy"

alphabet = "a" + alphabet
alphabet = alphabet + "z"

print(alphabet)

abcdefghijklmnopqrstuvwxyz

### min() function

In [24]:
# Demonstrating min() - Example 1:
print(min("aAbByYzZ"))


# Demonstrating min() - Examples 2 & 3:
t = 'The Knights Who Say "Ni!"'
print('[' + min(t) + ']')

t = [0, 1, 2]
print(min(t))

A
[ ]
0

### max() function

In [25]:
# Demonstrating max() - Example 1:
print(max("aAbByYzZ"))


# Demonstrating max() - Examples 2 & 3:
t = 'The Knights Who Say "Ni!"'
print('[' + max(t) + ']')

t = [0, 1, 2]
print(max(t))

z
[y]
2

### index() method

In [26]:
# Demonstrating the index() method:
print("aAbByYzZaA".index("b"))
print("aAbByYzZaA".index("Z"))
print("aAbByYzZaA".index("A"))

2
7
1

### list() and count()

In [27]:
# Demonstrating the list() function:
print(list("abcabc"))

# Demonstrating the count() method:
print("abcabc".count("b"))
print('abcabc'.count("d"))

['a', 'b', 'c', 'a', 'b', 'c']
2
0

# String methods

### capitalize() method

In [28]:
# Demonstrating the capitalize() method:
print('aBcD'.capitalize())

Abcd

In [29]:
print("Alpha".capitalize())
print('ALPHA'.capitalize())
print(' Alpha'.capitalize())
print('123'.capitalize())
print("αβγδ".capitalize())

Alpha
Alpha
 alpha
123
Αβγδ

### center() method

In [30]:
# Demonstrating the center() method:
print('[' + 'alpha'.center(10) + ']')

[  alpha   ]

In [31]:
print('[' + 'Beta'.center(2) + ']')
print('[' + 'Beta'.center(4) + ']')
print('[' + 'Beta'.center(6) + ']')

[Beta]
[Beta]
[ Beta ]

In [32]:
print('[' + 'gamma'.center(20, '*') + ']')

[*******gamma********]

### endswith() method

In [33]:
# Demonstrating the endswith() method:
if "epsilon".endswith("on"):
    print("yes")
else:
    print("no")

yes

In [34]:
t = "zeta"
print(t.endswith("a"))
print(t.endswith("A"))
print(t.endswith("et"))
print(t.endswith("eta"))

True
False
False
True

### find() method

In [35]:
# Demonstrating the find() method:
print("Eta".find("ta"))
print("Eta".find("mma"))

# don't use find() if you only want to check if a single character occurs 
# within a string - the in operator will be significantly faster.

1
-1

In [37]:
t = 'theta'
print(t.find('eta'))
print(t.find('et'))
print(t.find('the'))
print(t.find('ha'))

2
2
0
-1

In [38]:
print('kappa'.find('a', 2))

4

In [39]:
the_text = """A variation of the ordinary lorem ipsum
text has been used in typesetting since the 1960s 
or earlier, when it was popularized by advertisements 
for Letraset transfer sheets. It was introduced to 
the Information Age in the mid-1980s by the Aldus Corporation, 
which employed it in graphics and word-processing templates
for its desktop publishing program PageMaker (from Wikipedia)"""

fnd = the_text.find('the')
while fnd != -1:
    print(fnd)
    fnd = the_text.find('the', fnd + 1)

15
80
198
221
238

In [40]:
print('kappa'.find('a', 1, 4))
print('kappa'.find('a', 2, 4))

1
-1

### isalnum() method

In [41]:
# Demonstrating the isalnum() method:
print('lambda30'.isalnum())
print('lambda'.isalnum())
print('30'.isalnum())
print('@'.isalnum())
print('lambda_30'.isalnum())
print(''.isalnum())

True
True
True
False
False
False

In [42]:
t = 'Six lambdas'
print(t.isalnum())

t = 'ΑβΓδ'
print(t.isalnum())

t = '20E1'
print(t.isalnum())

False
True
True

### isalpha() and isdigit() method

In [44]:
# Example 1: Demonstrating the isapha() method: for letters only
print("Moooo".isalpha())
print('Mu40'.isalpha())

# Example 2: Demonstrating the isdigit() method: for digits only
print('2018'.isdigit())
print("Year2019".isdigit())

True
False
True
False

### islower(), isspace(), isupper() method

In [47]:
# Example 1: Demonstrating the islower() method: for lower-case
print("Moooo".islower())
print('moooo'.islower())

# Example 2: Demonstrating the isspace() method: for space
print(' \n '.isspace())
print(" ".isspace())
print("mooo mooo mooo".isspace())

# Example 3: Demonstrating the isupper() method: for upper-case
print("Moooo".isupper())
print('moooo'.isupper())
print('MOOOO'.isupper())

False
True
True
True
False
False
False
True

### join() method

In [48]:
# Demonstrating the join() method:
print(",".join(["omicron", "pi", "rho"]))

omicron,pi,rho

### lower() method

In [49]:
# Demonstrating the lower() method:
print("SiGmA=60".lower())

sigma=60

### istrip() method

In [50]:
# Demonstrating the lstrip() method:
print("[" + " tau ".lstrip() + "]")

[tau ]

In [51]:
print("www.cisco.com".lstrip("w."))

cisco.com

In [52]:
print("pythoninstitute.org".lstrip(".org"))

pythoninstitute.org

### replace() method

In [53]:
# Demonstrating the replace() method:
print("www.netacad.com".replace("netacad.com", "pythoninstitute.org"))
print("This is it!".replace("is", "are"))
print("Apple juice".replace("juice", ""))

www.pythoninstitute.org
Thare are it!
Apple

In [54]:
print("This is it!".replace("is", "are", 1))
print("This is it!".replace("is", "are", 2))

Thare is it!
Thare are it!

### rfind() method

In [55]:
# Demonstrating the rfind() method:
print("tau tau tau".rfind("ta"))
print("tau tau tau".rfind("ta", 9))
print("tau tau tau".rfind("ta", 3, 9))

8
-1
4

### rstrip() method

In [56]:
# Demonstrating the rstrip() method:
print("[" + " upsilon ".rstrip() + "]")
print("cisco.com".rstrip(".com"))

[ upsilon]
cis

### split() method

In [57]:
# Demonstrating the split() method:
print("phi       chi\npsi".split())

['phi', 'chi', 'psi']

### startswith() and strip() method

In [58]:
# Demonstrating the startswith() method:
print("omega".startswith("meg"))
print("omega".startswith("om"))

print()

# Demonstrating the strip() method:
print("[" + "   aleph   ".strip() + "]")

False
True

[aleph]

### swapcase(), title(), upper() method

In [59]:
# Demonstrating the swapcase() method:
print("I know that I know nothing.".swapcase())

print()

# Demonstrating the title() method:
print("I know that I know nothing. Part 1.".title())

print()

# Demonstrating the upper() method:
print("I know that I know nothing. Part 2.".upper())

i KNOW THAT i KNOW NOTHING.

I Know That I Know Nothing. Part 1.

I KNOW THAT I KNOW NOTHING. PART 2.

# Comparison strings

In [61]:
'alpha' == 'alpha'

True

In [62]:
'alpha' != 'Alpha'

True

In [63]:
'alpha' < 'alphabet'

True

In [64]:
'beta' > 'Beta'

True

### Sorting

In [66]:
# Demonstrating the sorted() function:
first_greek = ['omega', 'alpha', 'pi', 'gamma']
first_greek_2 = sorted(first_greek)

print(first_greek)
print(first_greek_2)

print()

# Demonstrating the sort() method:
second_greek = ['omega', 'alpha', 'pi', 'gamma']
print(second_greek)

second_greek.sort()
print(second_greek)

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

### String vs number

In [67]:
itg = 13
flt = 1.3
si = str(itg)
sf = str(flt)

print(si + ' ' + sf)

13 1.3

In [69]:
si = '13'
sf = '1.3'
itg = int(si)
flt = float(sf)

print(itg + flt)

14.3

# Program implementation

In [1]:
# Caesar cipher.
text = input("Enter your message: ")
cipher = ''
for char in text:
    if not char.isalpha():
        continue
    char = char.upper()
    code = ord(char) + 1
    if code > ord('Z'):
        code = ord('A')
    cipher += chr(code)

print(cipher)

Enter your message: Sher Locked
TIFSMPDLFE

In [2]:
# Caesar cipher - decrypting a message.
cipher = input('Enter your cryptogram: ')
text = ''
for char in cipher:
    if not char.isalpha():
        continue
    char = char.upper()
    code = ord(char) - 1
    if code < ord('A'):
        code = ord('Z')
    text += chr(code)

print(text)

Enter your cryptogram: TIFSMPDLFE
SHERLOCKED

In [3]:
# Numbers Processor.

line = input("Enter a line of numbers - separate them with spaces: ")
strings = line.split()
total = 0
try:
    for substr in strings:
        total += float(substr)
    print("The total is:", total)
except:
    print(substr, "is not a number.")

Enter a line of numbers - separate them with spaces: 12 34 3 1 32
The total is: 82.0

In [8]:
# IBAN Validator.

iban = input("Enter IBAN, please: ")
iban = iban.replace(' ','')

if not iban.isalnum():
    print("You have entered invalid characters.")
elif len(iban) < 15:
    print("IBAN entered is too short.")
elif len(iban) > 31:
    print("IBAN entered is too long.")
else:
    iban = (iban[4:] + iban[0:4]).upper()
    iban2 = ''
    for ch in iban:
        if ch.isdigit():
            iban2 += ch
        else:
            iban2 += str(10 + ord(ch) - ord('A'))
    iban = int(iban2)
    if iban % 97 == 1:
        print("IBAN entered is valid.")
    else:
        print("IBAN entered is invalid.")

Enter IBAN, please: DE02100100100152517108
IBAN entered is valid.

# Errors

In [11]:
import math

x = float(input("Enter x: "))
y = math.sqrt(x)

print("The square root of", x, "equals to", y)

Enter x: 123s

ValueError: could not convert string to float: '123s'

In [12]:
value = 1
value /= 0

ZeroDivisionError: division by zero

In [13]:
my_list = []
x = my_list[0]

IndexError: list index out of range

In [19]:
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))

if second_number != 0:
    print(first_number / second_number)
else:
    print("This operation cannot be done.")

print("THE END.")

Enter the first number: 123
Enter the second number: 0
This operation cannot be done.
THE END.

In [18]:
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))

try:
    print(first_number / second_number)
except:
    print("This operation cannot be done.")

print("THE END.")

Enter the first number: 1312
Enter the second number: 0
This operation cannot be done.
THE END.

In [20]:
try:
    print("1")
    x = 1 / 0
    print("2")
except:
    print("Oh dear, something went wrong...")

print("3")

1
Oh dear, something went wrong...
3

In [21]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
except:
    print("Oh dear, something went wrong...")

print("THE END.")

Enter a number: 0
Oh dear, something went wrong...
THE END.

In [23]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
    print(y)
except ZeroDivisionError:
    print("You cannot divide by zero, sorry.")
except ValueError:
    print("You must enter an integer value.")
except:
    print("Oh dear, something went wrong...")

print("THE END.")

Enter a number: a
You must enter an integer value.
THE END.

In [25]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
    print(y)
except ValueError:
    print("You must enter an integer value.")
except:
    print("Oh dear, something went wrong...")

print("THE END.")

Enter a number: 0.1
You must enter an integer value.
THE END.

In [26]:
try:
    x = int(input("Enter a number: "))
    y = 1 / x
    print(y)
except ValueError:
    print("You must enter an integer value.")

print("THE END.")

Enter a number: 1.1
You must enter an integer value.
THE END.

### More

In [27]:
try:
    y = 1 / 0
except ZeroDivisionError:
    print("Oooppsss...")

print("THE END.")

Oooppsss...
THE END.

In [29]:
try:
    y = 1 / 0
except ArithmeticError:
    print("Oooppsss...")

print("THE END.")

Oooppsss...
THE END.

In [30]:
try:
    y = 1 / 0
except ZeroDivisionError:
    print("Zero Division!")
except ArithmeticError:
    print("Arithmetic problem!")

print("THE END.")

Zero Division!
THE END.

In [31]:
try:
    y = 1 / 0
except ArithmeticError:
    print("Arithmetic problem!")
except ZeroDivisionError:
    print("Zero Division!")

print("THE END.")

Arithmetic problem!
THE END.

In [32]:
def bad_fun(n):
    try:
        return 1 / n
    except ArithmeticError:
        print("Arithmetic Problem!")
    return None

bad_fun(0)

print("THE END.")

Arithmetic Problem!
THE END.

In [33]:
def bad_fun(n):
    return 1 / n

try:
    bad_fun(0)
except ArithmeticError:
    print("What happened? An exception was raised!")

print("THE END.")

What happened? An exception was raised!
THE END.

### raise

In [34]:
def bad_fun(n):
    raise ZeroDivisionError


try:
    bad_fun(0)
except ArithmeticError:
    print("What happened? An error?")

print("THE END.")

What happened? An error?
THE END.

In [35]:
def bad_fun(n):
    try:
        return n / 0
    except:
        print("I did it again!")
        raise


try:
    bad_fun(0)
except ArithmeticError:
    print("I see!")

print("THE END.")

I did it again!
I see!
THE END.

### assert

In [41]:
import math

x = float(input("Enter a number: "))
assert x >= 0.0

x = math.sqrt(x)

print(x)

Enter a number: -123

AssertionError:

In [49]:

    ArithmeticError,
    BaseException,
    LookupError.

    AssertionError,
    ImportError,
    IndexError,
    KeyboardInterrupt,
    KeyError,
    MemoryError,
    OverflowError.

1
2
3
4
5
Done

In [53]:
print('Mike'>"Mikey")

False

In [57]:
print(chr(ord('z')-2))

x

In [4]:
x = '\\\\'
print(len(x))

2

In [3]:
print(float("1.3"))

1.3