In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# [1]. Load masing-masing data dengan pandas
retail_data1 = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/LO4/retail_data_from_1_until_3.csv')
retail_data2 = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/LO4/retail_data_from_4_until_6.csv')
retail_data3 = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/LO4/retail_data_from_7_until_9.csv')
retail_data4 = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/LO4/retail_data_from_10_until_12.csv')

# [2]. Pengecekan Data
print('PENGECEKAN DATA\n\n')
#      Cek data sekilas (tampilkan 5 baris teratas)
print(retail_data1.head())
#      Cek list kolom untuk semua dataframe
print('Kolom retail_data1: %s' %retail_data1.columns)
print('Kolom retail_data2: %s' %retail_data2.columns)
print('Kolom retail_data3: %s' %retail_data3.columns)
print('Kolom retail_data4: %s' %retail_data4.columns)
#      Concat multiple dataframe menjadi 1 dataframe
retail_table = pd.concat([retail_data1, retail_data2, retail_data3, retail_data4])
print('\nJumlah baris:', retail_table.shape[0])
#      Pengecekan dataframe info
print('\nInfo:')
print(retail_table.info())
#      Pengecekan statistik deskriptif
print('\nStatistik deskriptif:\n', retail_table.describe())

/home/ocean/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3012: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

PENGECEKAN DATA


   Unnamed: 0  order_id  order_date  customer_id             city  \
0           0   1612339  2019-01-01        18055  Jakarta Selatan
1           1   1612339  2019-01-01        18055  Jakarta Selatan
2           2   1612339  2019-01-01        18055  Jakarta Selatan
3           3   1612339  2019-01-01        18055  Jakarta Selatan
4           4   1612339  2019-01-01        18055  Jakarta Selatan

      province product_id    brand  quantity  item_price  total_price
0  DKI Jakarta      P0648  BRAND_C         4     1934000      7736000
1  DKI Jakarta      P3826  BRAND_V         8      604000      4832000
2  DKI Jakarta      P1508  BRAND_G        12      747000      8964000
3  DKI Jakarta      P0520  BRAND_B        12      450000      5400000
4  DKI Jakarta      P1513  BRAND_G         3     1500000      4500000
Kolom retail_data1: Index(['Unnamed: 0', 'order_id', 'order_date', 'customer_id', 'city',
       'province', 'product_id', 'brand', 'quantity', 'item_price',
       'total_price'],
      dtype='object')
Kolom retail_data2: Index(['Unnamed: 0', 'order_id', 'order_date', 'customer_id', 'city',
       'province', 'product_id', 'brand', 'quantity', 'item_price',
       'total_price'],
      dtype='object')
Kolom retail_data3: Index(['Unnamed: 0', 'order_id', 'order_date', 'customer_id', 'city',
       'province', 'product_id', 'brand', 'quantity', 'item_price',
       'total_price'],
      dtype='object')
Kolom retail_data4: Index(['Unnamed: 0', 'order_id', 'order_date', 'customer_id', 'city',
       'province', 'product_id', 'brand', 'quantity', 'item_price',
       'total_price'],
      dtype='object')

Jumlah baris: 508557

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 508557 entries, 0 to 201825
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   508557 non-null  int64
 1   order_id     508557 non-null  object
 2   order_date   508557 non-null  object
 3   customer_id  508557 non-null  int64
 4   city         508557 non-null  object
 5   province     508557 non-null  object
 6   product_id   508557 non-null  object
 7   brand        508557 non-null  object
 8   quantity     508557 non-null  int64
 9   item_price   508557 non-null  int64
 10  total_price  508557 non-null  int64
dtypes: int64(5), object(6)
memory usage: 46.6+ MB
None

Statistik deskriptif:
           Unnamed: 0    customer_id       quantity    item_price   total_price
count  508557.000000  508557.000000  508557.000000  5.085570e+05  5.085570e+05
mean    71004.479982   11509.957582      10.571326  1.357347e+06  7.043305e+06
std     49737.328863    6758.489806     112.805119  1.481544e+07  5.135112e+07
min         0.000000       0.000000       1.000000 -3.871709e+09 -3.871709e+09
25%     31784.000000   12370.000000       1.000000  4.500000e+05  1.356000e+06
50%     63569.000000   14388.000000       4.000000  7.400000e+05  3.498000e+06
75%     95509.000000   16261.000000      11.000000  1.458000e+06  6.270000e+06
max    201825.000000   18287.000000   74215.000000  4.739478e+09  2.790484e+10

In [2]:
# [3]. Transformasi Data
print('TRANSFORMASI DATA\n\n')
#      Memastikan data yang memiliki item_price < 0 atau total_price < 0
cek = retail_table.loc[(retail_table['item_price'] < 0) | (retail_table['total_price'] < 0)]
print('\nitem_price < 0 atau total_price < 0:\n', cek)
#      Jika tidak masuk akal datanya dapat dibuang
if cek.shape[0] != 0:
	retail_table = retail_table.loc[(retail_table['item_price'] > 0) & (retail_table['total_price'] > 0)]
#      Cek apakah masih ada order_id yang bernilai undefined dan delete row tersebut
cek = retail_table.loc[retail_table['order_id'] == 'undefined']
print('\norder_id yang bernilai undefined:\n', cek)
#      Jika ada maka buang baris tersebut
if cek.shape[0] != 0:
	retail_table = retail_table.loc[retail_table['order_id'] != 'undefined']

#      Transform order_id menjadi int64
retail_table['order_id'] = retail_table['order_id'].astype('int64')
#      Transform order_date menjadi datetime Pandas
retail_table['order_date'] = pd.to_datetime(retail_table['order_date'])
#      Cek dataframe info kembali untuk memastikan
print('\nInfo:')
print(retail_table.info())
#      Cek statistik deskriptif kembali, untuk memastikan
print('\nStatistik deskriptif:\n', retail_table.describe())

TRANSFORMASI DATA



item_price < 0 atau total_price < 0:
        Unnamed: 0   order_id  order_date  customer_id     city province  \
83664       83664  undefined  2019-09-06            0  unknown  unknown
83665       83665  undefined  2019-09-06            0  unknown  unknown

      product_id    brand  quantity  item_price  total_price
83664      P0153  BRAND_A         1 -3871709000  -3871709000
83665      P0153  BRAND_A         1 -3871709000  -3871709000

order_id yang bernilai undefined:
        Unnamed: 0   order_id  order_date  customer_id     city province  \
83663       83663  undefined  2019-09-06            0  unknown  unknown

      product_id    brand  quantity  item_price  total_price
83663      P0153  BRAND_A         1  3871733000   3871733000

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 508554 entries, 0 to 201825
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   508554 non-null  int64
 1   order_id     508554 non-null  int64
 2   order_date   508554 non-null  datetime64[ns]
 3   customer_id  508554 non-null  int64
 4   city         508554 non-null  object
 5   province     508554 non-null  object
 6   product_id   508554 non-null  object
 7   brand        508554 non-null  object
 8   quantity     508554 non-null  int64
 9   item_price   508554 non-null  int64
 10  total_price  508554 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(4)
memory usage: 46.6+ MB
None

Statistik deskriptif:
           Unnamed: 0      order_id    customer_id       quantity  \
count  508554.000000  5.085540e+05  508554.000000  508554.000000
mean    71004.405302  1.680676e+06   11510.025480      10.571383
std     49737.466061  3.865433e+04    6758.451924     112.805449
min         0.000000  1.612339e+06       0.000000       1.000000
25%     31784.000000  1.646143e+06   12370.000000       1.000000
50%     63569.000000  1.682617e+06   14388.000000       4.000000
75%     95509.750000  1.714960e+06   16261.000000      11.000000
max    201825.000000  1.742998e+06   18287.000000   74215.000000

         item_price   total_price
count  5.085540e+05  5.085540e+05
mean   1.364968e+06  7.050960e+06
std    1.144767e+07  5.048185e+07
min    1.200000e+04  1.200000e+04
25%    4.500000e+05  1.356000e+06
50%    7.400000e+05  3.498000e+06
75%    1.458000e+06  6.270000e+06
max    4.739478e+09  2.790484e+10